[package]
name = "gravitron_ecs"
version = "0.1.2"
edition = "2021"
license = "MIT OR Apache-2.0"
keywords = ["ecs", "game", "gravitron"]
categories = ["game-engines", "data-structures"]
repository = "https://github.com/Profiidev/gravitron"
description = "A simple and performant ECS for Gravitron"

[dependencies]
gravitron_ecs_macros = { path = "./gravitron_ecs_macros" , version = "0.1.2" }
gravitron_utils = { path = "../gravitron_utils" , version = "0.1.1" }
downcast = "0.11.0"
