[package]
name = "vulkan_engine"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
ash = "0.38.0"
ash-window = "0.13.0"
glam = "0.28.0"
gpu-allocator = { git = "https://github.com/Traverse-Research/gpu-allocator", branch = "ash-0.38"}
thiserror = "1.0.61"
vk-shader-macros = "0.2.9"
winit = { version = "0.30.0", features = ["wayland"] }

[lib]