[workspace]
members = ["crates/gravitron_ecs", "crates/gravitron_utils"]

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.22.1"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]
# Whether builds should try to be cached in CI
cache-builds = true

[workspace.metadata.dist.dependencies.chocolatey]
ninja = '*'

[package]
name = "gravitron"
version = "0.1.2"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A GameEngine based on an ECS and Vulkan"
repository = "https://github.com/Profiidev/gravitron"
categories = ["game-engines", "graphics", "gui", "rendering"]
exclude = ["assets/", ".github/", "crates/", "Cargo.lock", "nextest.toml", "CHANGELOG.md", "cliff.toml", "release-plz.toml", "rustfmt.toml"]
keywords = ["game", "engine", "gravitron"]
readme = "README.md"

[dependencies]
anyhow = "1.0.89"
ash = "0.38.0"
ash-window = "0.13.0"
glam = "0.29.0"
gpu-allocator = "0.27.0"
rand = "0.8.5"
thiserror = "1.0.64"
vk-shader-macros = "0.2.9"
winit = { version = "0.30.0", features = ["wayland"] }
gravitron_utils = { path = "./crates/gravitron_utils", version = "0.1.1" }
gravitron_ecs = { path = "./crates/gravitron_ecs", version = "0.1.2" }

[lib]

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

