[workspace]
members = ["crates/gravitron_ecs", "crates/gravitron_macro_utils", "crates/gravitron_utils"]

[package]
name = "gravitron"
version = "0.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A GameEngine based on an ECS and Vulkan"
repository = "https://github.com/Profiidev/gravitron"
categories = ["game-engines", "graphics", "gui", "rendering"]
exclude = [".github/", "crates/", "Cargo.lock", "nextest.toml", "CHANGELOG.md", "cliff.toml", "release-plz.toml", "rustfmt.toml"]
keywords = ["game", "engine", "gravitron"]
readme = "README.md"

[dependencies]
anyhow = "1.0.91"
ash = "0.38.0"
ash-window = "0.13.0"
glam = "0.29.0"
gpu-allocator = { version = "0.27.0", default-features = false, features = ["vulkan"] }
thiserror = "1.0.65"
vk-shader-macros = "0.2.9"
winit = { version = "0.30.0" }
gravitron_utils = { path = "./crates/gravitron_utils", version = "0.1.2" }
gravitron_ecs = { path = "./crates/gravitron_ecs", version = "0.2.0" }
log = "0.4.22"
env_logger = "0.11.5"
image = { version = "0.25.4", default-features = false, features = ["rayon", "png"] }

[features]
default = ["debug", "wayland"]
debug = ["gravitron_ecs/debug"]
wayland = ["winit/wayland"]

[lib]
