name: Checks and Validation
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build_and_test_linux:
    name: Build and Test (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo and rust files
        id: rust_cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - uses: taiki-e/install-action@nextest
      - name: 'Build and test'
        run: cargo nextest run --workspace --all-features

  # build_and_test_windows:
  #   name: Build and Test (Windows)
  #   runs-on: windows-latest
  #   steps:
  #     - name: Prepare symlink configuration
  #       run: git config --global core.symlinks true

  #     - uses: actions/checkout@v4
  #     - uses: dtolnay/rust-toolchain@stable

  #     - name: Cache cargo and rust files
  #       id: rust_cache
  #       uses: Swatinem/rust-cache@v2
  #       with:
  #         cache-on-failure: true

  #     - uses: taiki-e/install-action@nextest
  #     - name: 'Build and test'
  #       run: cargo nextest run --workspace --all-features
