name: Open a release PR
on:
  workflow_dispatch:
    inputs:
      crate:
        description: Crate to release
        required: true
        type: choice
        options:
          - "gravitron"
          - "gravitron_ecs"
          - "gravitron_ecs_macros"
          - "gravitron_utils"
      version:
        description: Version to release
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
          - release
          - alpha
          - beta
          - rc

jobs:
  make-release-pr:
    permissions:
      id-token: write # Enable OIDC
      pull-requests: write
      contents: write
      actions: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chainguard-dev/actions/setup-gitsign@main

      - name: Cache cargo and rust files
        id: rust_cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - run: cargo install cargo-release
        id: cargo_release_build
        if: steps.rust_cache.outputs.cache-hit != 'true'

      - uses: cargo-bins/release-pr@v2.1.3
        id: release_pr
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ inputs.version }}
          crate-name: ${{ inputs.crate }}
          git-user-name: "ProfiiDev"
          git-user-email: "92174452+Profiidev@users.noreply.github.com"

      - run: gh workflow run checks.yml --ref ${{ steps.release_pr.outputs.pr-branch }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

